### 2

In [4]:
def h_new(N=7):
    h = []
    for i in range(N):
        h.append([])
    return h
def h_new(N=7):
    return [[] for i in range(N)]

In [6]:
h_new()

[[], [], [], [], [], [], []]

In [23]:
def h_put(h,g,b):
    z = h[hash(g)%len(h)]
    for i,(g2,b2) in enumerate(z) :
        if g2 == g :
            # Topatu dugu
            z[i] = (g,b)
            # karga faktorea kudeatu
            if h_lf(h) > 4 :
                h_resize(h,len(h)*2)
            break
    else :
        z.append((g,b))

In [23]:
def h_put(h,g,b):
    z = h[hash(g)%len(h)]
    for i,(g2,b2) in enumerate(z) :
        if g2 == g :
            # Topatu dugu
            z[i] = (g,b)
            # karga faktorea kudeatu
            if h_lf(h) > 4 :
                h_resize(h,len(h)*2)
            return
    z.append((g,b))

In [24]:
h = h_new()
h_put(h,"74532653","Jone Arrizabalaga")
h_put(h,"58745456","Ane Lopategi")
h_put(h,"68456308","Eñaut Agirre")
h_put(h,"68456308","Eñaut Unamuno")
h

[[],
 [],
 [],
 [],
 [('58745456', 'Ane Lopategi')],
 [('74532653', 'Jone Arrizabalaga'), ('68456308', 'Eñaut Unamuno')],
 []]

In [20]:
def h_lf(h):
    #return sum([len(z) for z in h]) / len(h)
    return sum(len(z) for z in h) / len(h)

In [22]:
h_lf(h),3/7

(0.42857142857142855, 0.42857142857142855)

In [26]:
def h_get(h,g,d=None):
    z = h[hash(g)%len(h)]
    for g2,b2 in z :
        if g2 == g :
            # Topatu dugu
            return b2
    return d

In [30]:
h = h_new()
h_put(h,"74532653","Jone Arrizabalaga")
h_put(h,"58745456","Ane Lopategi")
h_put(h,"68456308","Eñaut Agirre")
print(h_get(h,"74532653"))
print(h_get(h,"68456308"))
print(h_get(h,"00000000"))

Jone Arrizabalaga
Eñaut Agirre
None

In [36]:
def h_items(h):
    items = []
    for z in h :
        for x in z :
            items.append(x)
    return items

def h_items(h):
    items = []
    for z in h :
        items.extend(z)
    return items

def h_items(h):
    return [ x for z in h for x in z ]

def h_items(h):
    return ( x for z in h for x in z )

In [37]:
print(*h_items(h))

('58745456', 'Ane Lopategi') ('74532653', 'Jone Arrizabalaga') ('68456308', 'Eñaut Agirre')

In [38]:
def h_popitem(h):
    for z in h :
        if z :
            return z.pop()

In [39]:
print(h_popitem(h))
print(h_popitem(h))
print(h_popitem(h))
# kontuz...
print(h_popitem(h))

('58745456', 'Ane Lopategi')
('68456308', 'Eñaut Agirre')
('74532653', 'Jone Arrizabalaga')
None